/* this currently does nothing, just exists to be manually injected into webflow */

.code-container {
  border-radius: 12px;
  position: relative;
  padding: 0px 0px 18px 0px;
  margin: 0;
  border: 0;
}

.shiki {
  border-radius: 12px;
  padding: 0px 0px 18px 25px;
  margin: 0;
  border: 0;
}

.code {
  border-radius: 12px;
  white-space: pre;
  border: 0px;
  margin: 0px;
  padding: 0px;
}

pre code {
  border: none;
  border-radius: 12px;
  background: inherit;
  overflow: auto;
}

.label {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: black;
  color: #fff;
  padding: 5px 12px;
  border-radius: 8px;
  /* Making the label more rounded */
  font-size: 12px;
  font-weight: 600;
  /* Making the text a bit bolder */
  letter-spacing: 0.5px;
  /* Spacing out the letters a little for aesthetic purposes */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  /* Adding a shadow for depth */
}

.code-container button {
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  right: 60px;
  background-color: #555;
  color: #fff;
  padding: 5px 12px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.2s;
  transition: color 0.3s, background-color 0.3s;
}

/* Show the button when the parent .code-container is hovered */
.code-container:hover button {
  border-radius: 12px;
  opacity: 1;
  /* The button becomes fully visible on hover */
}

/* Style changes when the text is 'Copied' (You can adjust as per your design preferences) */
button:contains('Copied') {
  color: #fff;
  /* White text */
  background-color: #4caf50;
  /* Green background */
}

.bash {
  background-color: #007bff;
}

.yaml {
  background-color: #007bff;
}

.json {
  background-color: #007bff;
}

.markdown {
  background-color: #007bff;
}

.mojo {
  background-color: #d2481e;
}

.python {
  background-color: #228b22;
}

.c {
  background-color: #d2481e;
}

.cpp {
  background-color: #d2481e;
}

.llvm {
  background-color: #c5c1c4;
}

.text {
  background-color: #007bff;
}

.codeCell {
  margin: 0;
}

code {
  counter-reset: code-step;
  counter-increment: code-step 0;
}

code .line::before {
  content: counter(code-step);
  counter-increment: code-step;
  width: 1rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: rgba(115, 138, 148, 0.6);
}

code .line:last-child:empty::before {
  content: none;
  counter-increment: none;
}

code .line:first-child:empty::before {
  content: none;
  counter-increment: none;
}

.no-numbers code .line::before {
  content: none;
  counter-increment: none;
}
/* Initial state for images */
img {
  transition: transform 0.3s; /* Smooth scaling transition */
  cursor: pointer; /* Change cursor to indicate it's clickable */
  max-width: 100%; /* Ensure images don't overflow their containers */
}

/* Class to scale the image */
.img-enlarged {
  position: relative; /* To ensure it appears above other content */
  z-index: 1000; /* Large z-index to make sure it's on top */
  transform-origin: center center; /* Center the transformation */
}

.text-rich-text img {
  max-width: 1600px;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

/* Highjack styles for <p><sub></sub></p> so we can hint that they are code */
.text-rich-text > p > sub:first-child {
  border-radius: 12px !important;
  padding: 10px 01px 28px 60px !important;
  font-size: 16px !important;
  white-space: pre !important;
  background-color: #292d3e !important;
  color: #babed8 !important;
  display: block !important;
  line-height: 1.5 !important;
  letter-spacing: 0 !important;
  font-family: Menlo, Monaco, Consolas, monospace !important;
}

.anchor-hack {
  height: 0 !important;
  line-height: 0 !important;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
  display: block; /* Ensure it behaves as a block-level element */
}
